<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyx.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.cyx.pojo.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="develope" jdbcType="VARCHAR" property="develope" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, birth, develope, password, role, introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getUserListByParams" parameterType="com.cyx.pojo.User" resultType="com.cyx.pojo.User">
  select user.id, user.name, sex, birth, develope, password, role, introduction,role.name as rolename
  from user LEFT OUTER JOIN role ON  user.role=role.id
  WHERE 1=1
  <if test="id != null and id!=''" >
    and user.id like CONCAT('%',#{id,jdbcType=VARCHAR},'%')
  </if>
  <!--<if test="name != null and name!=''" >
    and name = #{name,jdbcType=VARCHAR}
  </if>-->
  <if test="role != null and role!=''" >
    and role = #{role,jdbcType=VARCHAR}
  </if>
  <if test="sex != null and sex !=''" >
    and sex = #{sex,jdbcType=VARCHAR}
  </if>
  <if test="name != null and name!=''">
    and user.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
  </if>
    order BY role,id,user.name
  </select>

  <select id="selectByNameAndPassword" parameterType="com.cyx.pojo.User" resultType="java.lang.Integer">
    select role from USER WHERE NAME =#{name,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR} ;
  </select>
  <select id="queryList" resultType="com.cyx.pojo.User">
  select user.id, user.name, sex, birth, develope, password, role, introduction,role.name as rolename
  from user LEFT OUTER JOIN role ON  user.role=role.id
  order BY role,id,user.name
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cyx.pojo.User">
    insert into user ( name, sex,
      birth, develope, password, 
      role, introduction)
    values ( #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
      #{birth,jdbcType=VARCHAR}, #{develope,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cyx.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="develope != null">
        develope,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="develope != null">
        #{develope,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cyx.pojo.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="develope != null">
        develope = #{develope,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cyx.pojo.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=VARCHAR},
      develope = #{develope,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>