<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>友情链接管理</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/single/dashboard.css">

    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/valide/jquery.validate.js"></script>
    <script>
        $(function () {
            //删除操作
            $("tbody").delegate("button", "click",function () {
                if(this.innerHTML=="删除"){
                    var node=this.parentElement.parentElement;
                    var id=this.parentElement.parentElement.children[0].innerHTML;
                    $.ajax({
                        url: '/links/del',
                        data:'{"id": "' +id+ '"}',
                        /*async: true,*/
                        type: "POST",
                        contentType: "application/json",
                        dataType: 'json',
                        success: function (data) {
                            if(data=="1"){
                                node.remove();
                                alert("删除成功");
                            }
                            else
                                alert("删除失败,原因数据库操作失败");
                        },
                        error:function(){
                            alert("删除失败,原因数据上传失败");
                        }
                    });
                };
                if(this.innerHTML=="修改"){
                     //var node=this.parentElement.parentElement;
                     var id=this.parentElement.parentElement.children[0].innerHTML;
                     var name=this.parentElement.parentElement.children[1].innerHTML;
                     var url=this.parentElement.parentElement.children[2].innerHTML;
                     var sort=this.parentElement.parentElement.children[3].innerHTML;
                     var node=this.parentElement.parentElement;
                     var html=
                        "<label for=\"id1\" hidden=\"hidden\">友情链接名称</label>"+
                        "<input type=\"text\" id=\"id1\" hidden=\"hidden\" value='"+id+"'>"+
                        "<div  class=\"form-inline col-md-8\" ><label for=\"id\">友情链接名称</label>"+
                        "<input type=\"text\" class=\"form-control col-md-6 mx-sm-5\" id=\"name1\" placeholder=\"请输入友情链接名称\" value='"+name+"'required></div>"+
                        "<div  class=\"form-inline col-md-4\" ><label for=\"name\">排序号</label>"+
                        "<input type=\"text\" class=\"form-control col-md-6 mx-sm-5\" id=\"sort1\" placeholder=\"请输入排序号\" value='"+sort+"'></div>"+
                        "<br/><br/><br/>"+
                        "<div  class=\"form-inline col-md-10\" ><label for=\"url\">友情链接路径</label>"+
                        "<input type=\"text\" class=\"form-control col-md-8 mx-sm-5\" id=\"url1\" placeholder=\"请输入友情链接\" value='"+url+"'url=\"true\" required></div>"+
                        "<button id=\"mod\" type=\"button\" class=\"btn btn-primary\"> "+
                         /*onclick='mod("+ $("#id1").val()+","+$("#name1").val()+","+$("#sort1").val()+","+$("#url1").val()+","+")'*/
                        "<span class=\"glyphicon\" id=\"add\"></span>修改</button>";
                     $("#modform").html("");
                     $("#modform").append(html);
                    /* $("#id1").val(id);
                     $("#name1").val(name);
                     $("#url1").val(url);
                     $("#sort1").val(sort);*/
                 };
            });
        });
        //修改按钮事件绑定
        $("#mod").live("click",function () {
            //表单验证
            $("modform").validate({
                name1: {
                    required: true
                },url1:{
                    required: true,
                    url:true
                },
                messages: {
                    name1: {
                        required: "请输入链接名",
                    },
                    url1:{
                        required: "请输入网址",
                        url:"请输入正确的网址"
                    }
                }
            });
            var flag = $("#modform").valid();
            if(!flag){
                //没有通过验证
                return;
            }
            //alert("测试");
            $.ajax({
                url: '/links/mod',
                data: '{"id": "' + $("#id1").val() + '","name":"' + $("#name1").val() + '","url":"' + $("#url1").val() + '","sort": "' + $("#sort1").val() + '"}',
                type: "POST",
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    qry();
                    /*var table = document.getElementById("linkstable");//获取表格节点
                    var rows = table.rows;//获取表格行
                    var cell;//定义行第一个子节点变量
                    //var celltemp;//定义行第一个子节点变量
                    for(var i=1;i<rows.length;i++)
                    {
                        var cell = rows[i].cells[0];
                        if(cell.innerHTML==$("#id1").val()){
                            rows[i].cells[0].innerHTML=$("#id1").val();
                            rows[i].cells[1].innerHTML=$("#name1").val();
                            rows[i].cells[2].innerHTML=$("#url1").val();
                            rows[i].cells[3].innerHTML=$("#sort1").val();
                        }
                        //alert("内容"+cell.innerHTML);
                    }*/
                    $("#modform").html("");
                },
                error: function () {
                    alert("修改失败");
                }
            });
        });
        function qry(){
            $.ajax({
                url: '/links/show',
                /*data:'{"id": "' +id+ '","name":"'+name+'","sex":"'+sex+'", "role": "'+role+'"}',*/
                /*async: true,*/
                type: "POST",
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $("#linkstable tbody").html("");
                    var html;
                    for(var i=0;i<data.length;i++){
                        var idtemp=data[i].id;
                        var str ="/links/intoUserMod?id="+idtemp;
                        html+= "<tr>"+"<td hidden>"+data[i].id+"</td>"+
                            "<td>" +data[i].name+"</td>"+
                            "<td>"+data[i].url+"</td>"+
                            "<td>"+data[i].sort+"</td>"+"<td>"+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\">"+"修改"+"</button>  "+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\" >"+"删除"+"</button>  "+ "</td>"
                            +"</tr>";
                        //console.log("执行成功"+result[i].name+html);
                    }
                    $("#linkstable tbody").html(html);
                },
                error:function(){
                    alert("查询失败");
                }
            });
        }
        $(document).ready(function() {

            //表单验证
            $("#form1").validate({
                name: {
                    required: true
                },url:{
                    required: true,
                    url:true
                },
                messages: {
                    name: {
                        required: "请输入链接名",
                    },
                    url:{
                        required: "请输入网址",
                        url:"请输入正确的网址"
                    }
                }
            });
            //表单验证
            $("modform").validate({
                name1: {
                    required: true
                },url1:{
                    required: true,
                    url:true
                },
                messages: {
                    name1: {
                        required: "请输入链接名",
                    },
                    url1:{
                        required: "请输入网址",
                        url:"请输入正确的网址"
                    }
                }
            });
            $.ajax({
                url: '/links/show',
                /*data:'{"id": "' +id+ '","name":"'+name+'","sex":"'+sex+'", "role": "'+role+'"}',*/
                /*async: true,*/
                type: "POST",
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $("#linkstable tbody").html("");
                    var html;
                    for(var i=0;i<data.length;i++){
                        var idtemp=data[i].id;
                        var str ="/links/intoUserMod?id="+idtemp;
                        html+= "<tr>"+"<td hidden>"+data[i].id+"</td>"+
                            "<td>" +data[i].name+"</td>"+
                            "<td>"+data[i].url+"</td>"+
                            "<td>"+data[i].sort+"</td>"+"<td>"+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\">"+"修改"+"</button>  "+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\" >"+"删除"+"</button>  "+ "</td>"
                            +"</tr>";
                        //console.log("执行成功"+result[i].name+html);
                    }
                    $("#linkstable tbody").html(html);
                },
                error:function(){
                    alert("查询失败");
                }
            });

            $("#add").click(function() {
                var flag = $("#form1").valid();
                if(!flag){
                    //没有通过验证
                    return;
                }
                //alert("添加操作");
                $.ajax({
                    url: '/links/add',
                    data:'{"name":"'+$("#name").val()+'","sort":"'+$("#sort").val()+'", "url": "'+$("#url").val()+'"}',
                    type: "POST",
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        qry();
                        /*var html;
                        html+= "<tr>"+"<td hidden>"+data.id+"</td>"+
                            "<td>" +$("#name").val()+"</td>"+
                            "<td>"+$("#url").val()+"</td>"+
                            "<td>"+$("#sort").val()+"</td>"+"<td>"+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\">"+"修改"+"</button>  "+
                            "<button  href=\"#\" class=\"btn btn-primary btn-sm\" >"+"删除"+"</button>  "+ "</td>"
                            +"</tr>"*/;
                    },
                    error:function(){
                        alert("添加失败");
                    }
                });
            });

        });
    </script>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" id="value1"> [[${session.username}]]</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/logout}">登出</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul  class="nav flex-column mb-2" id="menu"><!--class="nav flex-column"-->
                    <li class="nav-item" data-id="user">
                        <a class="nav-link" href="/adminHomePage" th:href="@{/adminHomePage}">
                            <span data-feather="home"></span>
                            用户信息管理 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" data-id="role">
                        <a class="nav-link" href="/roleManage" th:href="@{/roleManage}">
                            <span data-feather="file"></span>
                            用户权限管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/links" th:href="@{/links}">
                            <span data-feather="shopping-cart"></span>
                            友情链接管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newsKind" th:href="@{/newsKind}">
                            <span data-feather="users"></span>
                            新闻种类管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newsShow" th:href="@{/newsShow}">
                            <span data-feather="users"></span>
                            新闻内容管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docKind" th:href="@{/docKind}">
                            <span data-feather="bar-chart-2"></span>
                            文档种类管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docShow" th:href="@{/docShow}">
                            <span data-feather="bar-chart-2"></span>
                            文档管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/adminProject" th:href="@{/adminProject}">
                            <span data-feather="layers"></span>
                            项目管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="content">
            <h2>友情链接增加</h2>
            <form class="form-inline col-md-12" id="form1">
                <div  class="form-inline col-md-8" >
                    <label for="name">友情链接名称</label><!--class="form-control col-md-6 mx-sm-5"-->
                    <input type="text"class="form-control col-md-6 mx-sm-5"  id="name" name="name" placeholder="请输入友情链接名称" required>
                </div>
                <div  class="form-inline col-md-4" >
                    <label for="sort">排序号</label>
                    <input type="text" class="form-control col-md-6 mx-sm-5" id="sort" name="sort" placeholder="请输入排序号">
                </div>
                <br/><br/><br/>
                <div  class="form-inline col-md-10" >
                <label for="url">友情链接路径</label>
                <input type="text" class="form-control col-md-8 mx-sm-5" id="url" name="url" placeholder="请输入友情链接" url="true" required>
                </div>
                <button id="add" type="button" class="btn btn-primary">
                    <span class="glyphicon" ></span>增加
                </button>
            </form>
            <br/>
            <div class="row">
                <div class="col-md-12 ml-sm-auto col-lg-12">
                    <h2>友情链接管理</h2>
                </div>
            </div>
            <!--      <h2>用户信息查询</h2> <button type="button" class="btn btn-secondary">增加</button>-->
            <div class="table-responsive">
                <table id="linkstable" class="table table-striped "><!--table-sm-->
                    <thead>
                    <tr>
                        <th>友情链接名称</th>
                        <th>友情链接网址</th>
                        <th>友情链接排序号</th>
                        <th>友情链接操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <form class="form-inline col-md-12" id="modform">
                <!--<label for="id1" hidden="hidden">友情链接名称</label>
                <input type="text" id="id1" hidden="hidden">
                <label for="name1">友情链接名称</label>
                <input type="text" class="form-control col-md-6 mx-sm-5" id="name1" placeholder="请输入友情链接名称" >
                <label for="sort1">排序号</label>
                <input type="text" class="form-control col-md-2 mx-sm-5" id="sort1" placeholder="请输入排序号" >
                <br/><br/><br/>
                <label for="url1">友情链接路径</label>
                <input type="text" class="form-control col-md-8 mx-sm-5" id="url1" placeholder="请输入友情链接" >
                <button id="mod" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search1" ></span>修改
                </button>-->
            </form>
        </main>

</div>
</body>
</html>