<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目增加</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/single/dashboard.css">
    <!--日期控件css-->
    <link rel="stylesheet" href="../static/css/datetimepicker.css">

    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/page/bootstrap-paginator.js"></script>
    <!--日期控件js-->
    <script src="../static/js/bootstrap-datetimepicker.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
        $(document).ready(function() {
            qryUser();
        });
        //查询用户
        function qryUser() {
            $.ajax({
                url: '/user/showteam',
                type: "POST",
                //data: '{"pageNo": "' + newPage + '"}',
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    var html="";
                    var id=$("#id").val();
                    for(var i=0;i<data.length;i++){
                        if(data[i].id!=id){
                        html+="<div class=\"input-group mb-3  col-md-3 \">"+"<div class=\"input-group-prepend\"><span class=\"input-group-text\"><input name=\"member\" type=\"checkbox\" value=\""+data[i].id+"\">" +
                            " </span></div><input type=\"text\" value=\""+data[i].name+"\" class=\"form-control\" readonly></div>";
                        }
                    }
                    //清空
                    $("#teamshow").html();
                    //填充内容
                    $("#teamshow").html(html);
                }, error: function () {
                    alert("用户查询失败");
                }
            });
        }
    </script>

</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" id="value1"> [[${session.username}]]</a>
    <input id="id" hidden th:value="${session.userid}" >

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/logout}">登出</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul  class="nav flex-column mb-2" id="menu"><!--class="nav flex-column"-->
                    <li class="nav-item" data-id="project">
                        <a class="nav-link active" href="#" th:href="@{/#}">
                            <span data-feather="home"></span>
                            项目管理 <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form class="col-md-10 offset-md-1"action="project/add" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">项目名称</label>
                        <input type="text" class="form-control" id="name" placeholder="项目名称" name="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dtp_input2">项目开始日期</label>
                        <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" value=""  name="birth"  required readonly>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button"><span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span></button>
                                <button class="btn btn-primary" type="button"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></button>
                            </div>
                        </div>
                        <input type="hidden" id="dtp_input2" name="datetime" value="" /><br/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="duration">所需时间</label>
                        <div class="input-group mb-3">
                        <input type="text" class="form-control" id="duration" placeholder="所需时间" name="duration" required>
                            <div class="input-group-append">
                                <span  class="input-group-text">天</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fund">所需资金</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&yen;</span>
                            </div>
                            <input id="fund" name="fund" type="text" class="form-control" required>
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        </div>
                </div>
                <p>团队成员</p><br/>
                <div class="form-row">
                    <div class="form-group col-md-12" id="team">
                        <div id="teamshow" class="input-group mb-3">
                            <div  class="input-group-prepend">
                            <span class="input-group-text">
                                <input type="checkbox">
                            </span>
                            </div>
                            <input type="text" value="ccc" class="form-control" readonly>
                        </div><!-- /input-group -->
                    </div>
                </div>
                <button id="upload" type="submit" class="btn btn-primary">申请</button>
            </form>
        </main>
    </div>
</div>
<!--日期js-->
<script>
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
</body>
</html>